
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auth</title>
</head>
<body>
    <p>This is login view.</p>
</body>
</html>
